:root {
  --slidev-theme-primary: #015e25;
  --slidev-theme-secondary: #002776;
  --slidev-theme-tertiary: #ffdf00;
}

html.dark {
  --slidev-theme-primary: #217e45;
  --slidev-theme-secondary: #697394;
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}

body,
#slide-content {
  color: var(--slidev-theme-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  color: var(--slidev-theme-primary);
}

.end {
  font-variant: normal;
}
